<!-- <app-navbar></app-navbar> -->

<div class="about-container">
  <section class="about-section">
    <div class="about-left-pane">
      <img src="assets/logo-larger.jpeg" class="about-logo" />
    </div>
    <div class="about-right-pane">
      <h1>About Us</h1>
      <p>
        At <b>Sous & You</b>, we aim to solve the issue of
        <i>“What should I cook?”</i> when a user has time restrictions,
        preferences, dietary restrictions, cooking skill, tools, and specific
        ingredients or a budget they need to follow. Based on each user’s
        profile and inputs, the AI Recipe Recommender will provide the recipes
        as well as personalized tips and cooking recommendations for each
        recipe.
      </p>
    </div>
  </section>
  <hr class="section-divider" />
  <section class="team-section"></section>
  <h2>Meet the Team</h2>
  <div class="team-list">
    <div class="team-member">
      <h3>Alex Hunter</h3>
      <p class="team-member-role">Backend Developer</p>
    </div>
    <div class="team-member">
      <h3>Ankita Khatri</h3>
      <p class="team-member-role">
        Front End Developer and Deployment Developer
      </p>
    </div>
    <div class="team-member">
      <h3>April Dawoud</h3>
      <p class="team-member-role">Front End Developer</p>
    </div>
    <div class="team-member">
      <h3>Benson Li</h3>
      <p class="team-member-role">Backend Developer and Deployment Developer</p>
    </div>

    <div class="team-member">
      <h3>Charlotte Hausman</h3>
      <p class="team-member-role">Project Manager and Scrum Master</p>
    </div>

    <div class="team-member">
      <h3>Emily Koch</h3>
      <p class="team-member-role">Database Developer</p>
    </div>

    <div class="team-member">
      <h3>Mahati Malladi</h3>
      <p class="team-member-role">Database Developer and QA Testing</p>
    </div>

    <div class="team-member">
      <h3>Paris Acosta</h3>
      <p class="team-member-role">Backend Developer and Database Developer</p>
    </div>

    <div class="team-member">
      <h3>Shweta Sankaranarayanan</h3>
      <p class="team-member-role">Front End Developer and QA Testing</p>
    </div>
  </div>
</div>
